## Exercise 2.5 Advanced Geospatial Mapping

In [3]:
#importing libraries
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv('weather_and_daily_bike_rides_data.csv', index_col = 0)

C:\Users\canam\AppData\Local\Temp\ipykernel_9484\1142865059.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('weather_and_daily_bike_rides_data.csv', index_col = 0)

In [5]:
df.shape

(1491908, 16)

In [6]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'avgTemp', 'daily_bike_rides', '_merge'],
      dtype='object')

## Data Preprocessing

In [8]:
#checking for missing values 
df.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name       3
start_station_id         3
end_station_name      3474
end_station_id        3474
start_lat                0
start_lng                0
end_lat               1907
end_lng               1907
member_casual            0
avgTemp                  0
daily_bike_rides         0
_merge                   0
dtype: int64

In [9]:
#creating a new df with no missing values
df.dropna(inplace = True)

In [10]:
df.shape

(1488434, 16)

In [11]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,avgTemp,daily_bike_rides,_merge
date,,,,,,,,,,,,,,,,
2022-01-01,4358B9E87D6D7A16,classic_bike,2022-01-01 14:54:02.879,2022-01-01 15:03:11.662,35 St & 21 Ave,7170.04,31 St & 21 Ave,7202.07,40.776745,-73.906558,40.778130,-73.908420,member,11.6,20428,both
2022-01-01,38B902A7913496FB,classic_bike,2022-01-01 14:16:55.828,2022-01-01 14:36:57.086,E 32 St & Park Ave,6280.12,Bleecker St & Crosby St,5679.08,40.745712,-73.981948,40.726156,-73.995102,member,11.6,20428,both
2022-01-01,43DD38318BC7164E,classic_bike,2022-01-01 15:02:57.752,2022-01-01 15:05:15.432,Front St & Washington St,4936.01,Cadman Plaza E & Red Cross Pl,4821.06,40.702551,-73.989402,40.699918,-73.989718,member,11.6,20428,both
2022-01-01,A74287183A50FD7B,classic_bike,2022-01-01 06:09:55.182,2022-01-01 06:13:50.673,Bergen Ave & E 152 St,7858.02,Willis Ave & E 141 St,7759.08,40.817166,-73.914737,40.810930,-73.921606,member,11.6,20428,both
2022-01-01,111FDEBA5E422B14,classic_bike,2022-01-01 15:22:00.906,2022-01-01 15:27:44.046,Lexington Ave & E 29 St,6164.09,Lexington Ave & E 29 St,6164.09,40.743116,-73.982154,40.743116,-73.982154,casual,11.6,20428,both

In [12]:
#exporting new dataframe 
df.to_csv('weather_and_daily_bike_rides_data_2.csv')

In [13]:
# Creating a value column and group by start and end station
df['value'] = 1

In [14]:
df_group = df.groupby(['start_station_name', 'end_station_name'])['value'].count().reset_index()

In [15]:
df_group.head()

  start_station_name  end_station_name  value
0   1 Ave & E 110 St  1 Ave & E 110 St     49
1   1 Ave & E 110 St   1 Ave & E 44 St      1
2   1 Ave & E 110 St   1 Ave & E 62 St      1
3   1 Ave & E 110 St   1 Ave & E 68 St      2
4   1 Ave & E 110 St   1 Ave & E 78 St      3

In [16]:
#comparing the sum of the value column with the total number of rows to see if they match 
#if so, the groupby function has been done correctly
print(df_group['value'].sum())
print(df.shape)

1488434
(1488434, 17)

In [17]:
df_group.rename(columns = {'value' : 'trips'}, inplace = True)

In [18]:
df_group['trips'].sort_index().value_counts()

trips
1      158797
2       57578
3       31599
4       20524
5       14462
        ...
234         1
140         1
196         1
114         1
268         1
Name: count, Length: 203, dtype: int64

In [19]:
#exporting trip data
df_group.to_csv('trip_data.csv')

In [20]:
#creating a subsample of weather & daily bike rides data because it is too big 
#to merge with trip data
df_subsample = df.sample(frac=.005)

In [21]:
#dropping the existing _merge column so a new one can be created with the upcoming merge
df_subsample = df_subsample.drop(columns = ['_merge'])

In [22]:
#checking to see if _merge column was dropped
df_subsample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,avgTemp,daily_bike_rides,value
date,,,,,,,,,,,,,,,,
2022-10-18,233D2CBB85166602,electric_bike,2022-10-18 06:00:24.873,2022-10-18 06:05:04.004,W 42 St & Dyer Ave,6644.07,Broadway & W 41 St,6560.01,40.758985,-73.993800,40.755136,-73.986580,member,12.6,101005,1
2022-09-16,949D0A6CD3369BBA,classic_bike,2022-09-16 16:09:17.932,2022-09-16 16:18:49.200,E 13 St & 2 Ave,5820.08,Gansevoort St & Hudson St,6072.14,40.731539,-73.985302,40.739448,-74.005070,member,19.6,131682,1
2022-04-06,D524B9AED44BF862,classic_bike,2022-04-06 17:56:18.824,2022-04-06 17:58:18.115,E 138 St & 5 Av,7809.13,W 135 St & Lenox Terrace Pl,7832.04,40.814490,-73.936153,40.813619,-73.939336,member,8.6,48443,1
2022-11-03,CC629A03FA8338A9,electric_bike,2022-11-03 19:59:56.721,2022-11-03 20:09:49.096,35 St & Broadway,6750.16,35 St & Broadway,6750.16,40.760339,-73.922243,40.760339,-73.922243,member,15.7,116776,1
2022-08-04,6E40F0B737451290,classic_bike,2022-08-04 07:14:06.113,2022-08-04 07:27:22.549,Broadway & W 41 St,6560.01,MacDougal St & Washington Sq,5797.01,40.755136,-73.986580,40.732264,-73.998522,member,29.1,118082,1

In [23]:
#creating a dataframe with only start_station_name, start_lat, and start_lng
df_coordinates = df_subsample[['start_station_name', 'start_lat', 'start_lng']]

In [24]:
df_coordinates.head()

            start_station_name  start_lat  start_lng
date
2022-10-18  W 42 St & Dyer Ave  40.758985 -73.993800
2022-09-16     E 13 St & 2 Ave  40.731539 -73.985302
2022-04-06     E 138 St & 5 Av  40.814490 -73.936153
2022-11-03    35 St & Broadway  40.760339 -73.922243
2022-08-04  Broadway & W 41 St  40.755136 -73.986580

In [25]:
#copying start_station name column to make an end_station_column like in example notebook
df_coordinates['end_station_name'] = df_coordinates['start_station_name']

C:\Users\canam\AppData\Local\Temp\ipykernel_9484\1455646575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coordinates['end_station_name'] = df_coordinates['start_station_name']

In [26]:
df_coordinates.head()

            start_station_name  start_lat  start_lng    end_station_name
date
2022-10-18  W 42 St & Dyer Ave  40.758985 -73.993800  W 42 St & Dyer Ave
2022-09-16     E 13 St & 2 Ave  40.731539 -73.985302     E 13 St & 2 Ave
2022-04-06     E 138 St & 5 Av  40.814490 -73.936153     E 138 St & 5 Av
2022-11-03    35 St & Broadway  40.760339 -73.922243    35 St & Broadway
2022-08-04  Broadway & W 41 St  40.755136 -73.986580  Broadway & W 41 St

In [27]:
#changing order of the columns 
df_coordinates = df_coordinates[['start_station_name', 'end_station_name', 'start_lat', 'start_lng']]

In [28]:
df_coordinates.head()

            start_station_name    end_station_name  start_lat  start_lng
date
2022-10-18  W 42 St & Dyer Ave  W 42 St & Dyer Ave  40.758985 -73.993800
2022-09-16     E 13 St & 2 Ave     E 13 St & 2 Ave  40.731539 -73.985302
2022-04-06     E 138 St & 5 Av     E 138 St & 5 Av  40.814490 -73.936153
2022-11-03    35 St & Broadway    35 St & Broadway  40.760339 -73.922243
2022-08-04  Broadway & W 41 St  Broadway & W 41 St  40.755136 -73.986580

In [29]:
#renaming start_lat to latitude
df_coordinates.rename(columns = {'start_lat': 'latitude'}, inplace = True)

In [30]:
#renaming start_lng to longitude
df_coordinates.rename(columns = {'start_lng': 'longitude'}, inplace = True)

In [31]:
df_coordinates.head()

            start_station_name    end_station_name   latitude  longitude
date
2022-10-18  W 42 St & Dyer Ave  W 42 St & Dyer Ave  40.758985 -73.993800
2022-09-16     E 13 St & 2 Ave     E 13 St & 2 Ave  40.731539 -73.985302
2022-04-06     E 138 St & 5 Av     E 138 St & 5 Av  40.814490 -73.936153
2022-11-03    35 St & Broadway    35 St & Broadway  40.760339 -73.922243
2022-08-04  Broadway & W 41 St  Broadway & W 41 St  40.755136 -73.986580

In [32]:
#merging coordinates data with trip data by start_station_name

In [118]:
df_2 = df_coordinates.merge(df_group, on = ["start_station_name"], how = 'outer',indicator = True)

In [120]:
df_2.head()

,start_station_name,end_station_name_x,latitude,longitude,end_station_name_y,trips,_merge
0,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 110 St,49,both
1,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 44 St,1,both
2,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 62 St,1,both
3,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 68 St,2,both
4,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 78 St,3,both

In [35]:
df_2['_merge'].value_counts(dropna = False)

_merge
both          2634733
right_only      30941
left_only           0
Name: count, dtype: int64

In [136]:
#only keeping rows where _merge result was both
df_2 = df_2[df_2['_merge'] =='both']

In [138]:
df_2.head()

,start_station_name,end_station_name_x,latitude,longitude,end_station_name_y,trips,_merge
0,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 110 St,49,both
1,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 44 St,1,both
2,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 62 St,1,both
3,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 68 St,2,both
4,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,1 Ave & E 78 St,3,both

In [38]:
#dropping the end_station_name_x column
df_2.drop(columns = {'end_station_name_x'}, inplace = True)

In [39]:
df_2.rename(columns = {'end_station_name_y' : 'end_station_name'}, inplace = True)

In [40]:
df_2.head()

  start_station_name   latitude  longitude  end_station_name  trips _merge
0   1 Ave & E 110 St  40.792327   -73.9383  1 Ave & E 110 St     49   both
1   1 Ave & E 110 St  40.792327   -73.9383   1 Ave & E 44 St      1   both
2   1 Ave & E 110 St  40.792327   -73.9383   1 Ave & E 62 St      1   both
3   1 Ave & E 110 St  40.792327   -73.9383   1 Ave & E 68 St      2   both
4   1 Ave & E 110 St  40.792327   -73.9383   1 Ave & E 78 St      3   both

In [41]:
#creating another subsample because df_2 is too big to merge with df_coordinates
df_subsample_2 = df_2.sample(frac=.001)

In [108]:
df_subsample_2.head()

,start_station_name,latitude,longitude,end_station_name,trips,_merge
2107657,W 107 St & Columbus Ave,40.799757,-73.962113,St Nicholas Ave & Manhattan Ave,9,both
60150,1 Ave & E 78 St,40.771404,-73.953517,Harrison St & Hudson St,1,both
2661649,Wythe Ave & Metropolitan Ave,40.716916,-73.963246,Allen St & Hester St,6,both
2517380,W 95 St & Broadway,40.793770,-73.971888,E 53 St & Lexington Ave,1,both
2256880,W 26 St & 8 Ave,40.747476,-73.997474,Lexington Ave & E 24 St,12,both

In [164]:
#merging by end_station_name
df_final = df_subsample_2.merge(df_coordinates, how = 'outer', on = "end_station_name", indicator = "_merge_2")

In [166]:
df_final.head()

,start_station_name_x,latitude_x,longitude_x,end_station_name,trips,_merge,start_station_name_y,latitude_y,longitude_y,_merge_2
0,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792327,-73.938300,both
1,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792374,-73.938242,both
2,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792327,-73.938300,both
3,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792345,-73.938210,both
4,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792327,-73.938300,both

In [158]:
#keeping only the rows with _merge_2 value "both"
df_final['_merge_2'].value_counts(dropna = False)

_merge_2
both          23171
right_only      897
left_only       109
Name: count, dtype: int64

In [160]:
df_final = df_final[df_final['_merge_2'] =='both']

In [162]:
df_final.head()

,start_station_name_x,latitude_x,longitude_x,end_station_name,trips,_merge,start_station_name_y,latitude_y,longitude_y,_merge_2
0,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792327,-73.938300,both
1,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792374,-73.938242,both
2,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792327,-73.938300,both
3,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792345,-73.938210,both
4,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,both,1 Ave & E 110 St,40.792327,-73.938300,both

In [172]:
df_final.drop(columns = {'start_station_name_y', '_merge', '_merge_2'}, inplace = True)

In [174]:
df_final.rename(columns = {'start_station_name_x' : 'start_station_name'}, inplace = True)

In [178]:
df_final.head()

,start_station_name,latitude_x,longitude_x,end_station_name,trips,latitude_y,longitude_y
0,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792327,-73.938300
1,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792374,-73.938242
2,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792327,-73.938300
3,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792345,-73.938210
4,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792327,-73.938300

In [180]:
df_final.rename(columns = {'latitude_x' : 'start_lat', 'longitude_x' : 'start_lon', 
       'latitude_y' : 'end_lat', 'longitude_y' : 'end_lon',}, inplace = True)

In [192]:
df_final.head()

,start_station_name,start_lat,start_lon,end_station_name,trips,end_lat,end_lon
0,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792327,-73.938300
1,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792374,-73.938242
2,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792327,-73.938300
3,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792345,-73.938210
4,5 Ave & E 78 St,40.776321,-73.964274,1 Ave & E 110 St,1.0,40.792327,-73.938300

In [186]:
# initializing a kepler map
m = KeplerGl(height = 700, data={"data_1": df_final})

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

C:\Users\canam\Anaconda3\Lib\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant: nan
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

In [188]:
m

KeplerGl(data={'data_1':       start_station_name  start_lat  start_lon       end_station_name  trips  \
0

At first, the only layer that was active was the start layer so only the start stations were visible.  I activated the end layer by clicking on the eye icon so that now the end stations were also visible.  I then changed the colors for the start stations and end stations (purple for the start stations and yellow for the end stations) so that it was easier to distinguish between the two.  Prior to this, a color scheme had been applied to the start and end stations, making them various different colors.  Because this assignment is concerned with trips BETWEEN stations, I also activated the third layer (start --> end arc and chose purple for source, yellow for target), which resulted in a line for each of the trips taken between two stations.

As I increase the number of trips in the filter, the fewer trips there are outside of Manhattan.  Once it hits the 78 trip mark, bike trips are exclusively in Manhattan.  There is a lot of activity in Midtown around 32nd street.  This makes sense as this is a popular shopping district and is location of the Empire State Building.  One of the most commmon trips is between 5 Ave & E 87 St to Central Park North & Adam Clayton Powell Blvd.  This makes sense as this would take riders through Central Park.  The most common trip is between 12 Ave & W 40 St to West St. & Chambers St.  This makes sense because it would take bike riders down along the Hudson River.

In [194]:
config = m.config

In [196]:
config

{'version': 'v1',
 'config': {'visState': {'filters': [{'dataId': ['data_1'],
     'id': 'm4v8khg9u',
     'name': ['trips'],
     'type': 'range',
     'value': [27, 201],
     'plotType': 'histogram',
     'animationWindow': 'free',
     'yAxis': None,
     'view': 'side',
     'speed': 1,
     'enabled': True}],
   'layers': [{'id': 'rhkg70l',
     'type': 'point',
     'config': {'dataId': 'data_1',
      'label': 'start',
      'color': [114, 12, 157],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat': 'start_lat', 'lng': 'start_lon'},
      'isVisible': True,
      'visConfig': {'radius': 10,
       'fixedRadius': False,
       'opacity': 0.8,
       'outline': False,
       'thickness': 2,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'filled': True},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center',
        'outlineWidth': 0,
        'outlineColor': [255, 0, 0, 255],
        'background': False,
        'backgroundColor': [0, 0, 200, 255]}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': 'wx3gx9t',
     'type': 'point',
     'config': {'dataId': 'data_1',
      'label': 'end',
      'color': [237, 171, 0],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat': 'end_lat', 'lng': 'end_lon'},
      'isVisible': True,
      'visConfig': {'radius': 10,
       'fixedRadius': False,
       'opacity': 0.8,
       'outline': False,
       'thickness': 2,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'filled': True},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center',
        'outlineWidth': 0,
        'outlineColor': [255, 0, 0, 255],
        'background': False,
        'backgroundColor': [0, 0, 200, 255]}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': '1tymho',
     'type': 'arc',
     'config': {'dataId': 'data_1',
      'label': 'start -> end arc',
      'color': [149, 12, 105],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat0': 'start_lat',
       'lng0': 'start_lon',
       'lat1': 'end_lat',
       'lng1': 'end_lon'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'thickness': 2,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'sizeRange': [0, 10],
       'targetColor': [246, 218, 0]},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center',
        'outlineWidth': 0,
        'outlineColor': [255, 0, 0, 255],
        'background': False,
        'backgroundColor': [0, 0, 200, 255]}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': 'zzib61n',
     'type': 'line',
     'config': {'dataId': 'data_1',
      'label': 'start -> end line',
      'color': [179, 173, 158],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat0': 'start_lat',
       'lng0': 'start_lon',
       'lat1': 'end_lat',
       'lng1': 'end_lon'},
      'isVisible': False,
      'visConfig': {'opacity': 0.8,
       'thickness': 2,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'sizeRange': [0, 10],
       'targetColor': None,
       'elevationScale': 1},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center',
        'outlineWidth': 0,
        'outlineColor': [255, 0, 0, 255],
        'background': False,
        'backgroundColor': [0, 0, 200, 255]}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}}],
   'effects': [],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'data_1': [{'name': 'start_station_name',
        'format': None},
       {'name': 'end_station_name', 'format': None},
       {'name': 'trips', 'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'overlayBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1},
   'editor': {'features': [], 'visible': True}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 40.749632213452706,
   'longitude': -73.98968011495673,
   'pitch': 0,
   'zoom': 15.88749530292472,
   'isSplit': False,
   'isViewportSynced': True,
   'isZoomLocked': False,
   'splitMapViewports': []},
  'mapStyle': {'styleType': 'dark-matter',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [15.035172933000911,
    15.035172933000911,
    15.035172933000911],
   'backgroundColor': [0, 0, 0],
   'mapStyles': {}}}}

In [198]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)

In [200]:
m.save_to_html(file_name = 'New_York_Citibike_Trips.html', read_only = False, config = config)

Map saved to New_York_Citibike_Trips.html!