## Exercise 2.5 Advanced Geospatial Mapping

In [206]:
#importing libraries
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [207]:
df = pd.read_csv('weather_and_daily_bike_rides_data.csv', index_col = 0)

C:\Users\canam\AppData\Local\Temp\ipykernel_11868\1142865059.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('weather_and_daily_bike_rides_data.csv', index_col = 0)

In [208]:
df.shape

(2983817, 16)

In [209]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'avgTemp', 'daily_bike_rides', '_merge'],
      dtype='object')

## Data Preprocessing

In [211]:
#finding missing values
df.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name       7
start_station_id         7
end_station_name      6885
end_station_id        6885
start_lat                0
start_lng                0
end_lat               3647
end_lng               3647
member_casual            0
avgTemp                  0
daily_bike_rides         0
_merge                   0
dtype: int64

In [212]:
#creating a new df with no missing values
df.dropna(inplace = True)

In [213]:
df.shape

(2976932, 16)

In [214]:
df['value'] = 1

In [215]:
df_group = df.groupby(['start_station_name', 'end_station_name'])['value'].count().reset_index()

In [216]:
df_group

           start_station_name         end_station_name  value
0            1 Ave & E 110 St         1 Ave & E 110 St     84
1            1 Ave & E 110 St          1 Ave & E 30 St      1
2            1 Ave & E 110 St          1 Ave & E 44 St      1
3            1 Ave & E 110 St          1 Ave & E 62 St      4
4            1 Ave & E 110 St          1 Ave & E 68 St      4
...                       ...                      ...    ...
472971  Yankee Ferry Terminal  South St & Whitehall St     10
472972  Yankee Ferry Terminal       Water St & Main St      3
472973  Yankee Ferry Terminal    West St & Chambers St      2
472974  Yankee Ferry Terminal     West St & Liberty St      1
472975  Yankee Ferry Terminal    Yankee Ferry Terminal    604

[472976 rows x 3 columns]

In [217]:
#comparing the sum of the value column with the total number of rows to see if they match 
#if so, the groupby function has been done correctly
print(df_group['value'].sum())
print(df.shape)

2976932
(2976932, 17)

In [218]:
df_group.rename(columns = {'value' : 'trips'}, inplace = True)

In [219]:
df_group['trips'].sort_index().value_counts()

trips
1       190499
2        72377
3        41275
4        27246
5        19733
         ...
1155         1
335          1
383          1
275          1
604          1
Name: count, Length: 343, dtype: int64

In [220]:
df_group.to_csv('trip_data.csv')

In [221]:
df_group.head()

  start_station_name  end_station_name  trips
0   1 Ave & E 110 St  1 Ave & E 110 St     84
1   1 Ave & E 110 St   1 Ave & E 30 St      1
2   1 Ave & E 110 St   1 Ave & E 44 St      1
3   1 Ave & E 110 St   1 Ave & E 62 St      4
4   1 Ave & E 110 St   1 Ave & E 68 St      4

In [222]:
df.to_csv('weather_and_daily_bike_rides_data_2.csv')

In [252]:
# initializing a kepler map
m = KeplerGl(height = 700, data={"data_1": df})

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [256]:
m

KeplerGl(data={'data_1':                      ride_id  rideable_type               started_at  \
date         …